@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');/* titulo*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');/*texto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*sub-titulos*/

h1{
    background-color: red;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
}
p{
    text-align: justify;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}
.destaque{
    background-color: black;
    color: white;
    text-align: center;
}

.destaque-titulos{
    font-size: 2em;
}
h2{
    font-family: 'Montserrat', sans-serif;
}

.saopaulo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}