*{
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to right,#68d4f8, #55d4ff );
}
main{
    width: 600px;
    background-color: white;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #3698B8 ;

}

h1{
    text-align: center;
    color:#B35B00 ;

}
h2{
    color: #cc7313;
}
